PORT=3004
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/indoorfish
USER_SERVICE_URL=http://localhost:3001
PAYMENT_SERVICE_URL=http://localhost:3002
CATALOG_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3005
